@import url('https://fonts.googleapis.com/css?family=Lobster|Oxygen');
@import 'bootstrap/dist/css/bootstrap';
.banner{
  // height: 0px;
  display:flex;
  flex-direction: column;
  // color: white;

  background-color: lightblue;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  // background-image: linear-gradient(270deg,#cc6aa5,#3e91cc,#2dcca7);
  // background-size: 600% 100%;

  align-items: center;
  justify-content: center;
  // display: none;
  // overflow: hidden;
  height: 300px;
  opacity: 0;
  transition: opacity 0.5s;
}

.search-content{
  transform: translateY(-300px);
  transition: transform 0.5s;
}
.show-banner + .search-content{
    transform: translateY(0px);
    transition: transform 0.5s;

}
.trending{
  font-family: 'Lobster', cursive;
  text-align: center;
}
.banner.show-banner{
  // -webkit-animation: bg-pan-left 1.5s both;
  //       animation: bg-pan-left 1.5s both;
  opacity: 1;
  // display: block;

  text-align: center;
  // color: red;
  transition: opacity 1s ease 0.5s;


}
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dropdown-menu {
  // -webkit-transition: all 0.3s;
  // -moz-transition: all 0.3s;
  // -ms-transition: all 0.3s;
  // -o-transition: all 0.3s;
  // transition: all 0.3s;

  // animation: none !important;
  // opacity: 0;
}
.dropdown-item{
  // animation: none !important;

}
.dropdown-menu.show {
  // animation: none !important;

  // -webkit-transition: all 0.3s;
  // -moz-transition: all 0.3s;
  // -ms-transition: all 0.3s;
  // -o-transition: all 0.3s;
  // transition: all 0.3s

}
.content-wrapper{
  margin-top: 17px;
}
body{
  overflow-y: scroll !important;
  padding-top: 77px;
  padding-right:0px !important;

  font-family: 'Oxygen', sans-serif;

}
img {
  max-height: 100%;
  max-width:100%;}
  .error{
    color: red;
    font-size: 0px;
    transition: all 0.2s ease;
    // opacity: 0;
  }

  .error.show{
    // opacity: 1;
    font-size: 14px;
    transition: all 0.2s ease;
  }

  .navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
  }
  //////////////////////////////////////////
  // track
  .track-tile{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;

  }
  .track-poster{
    max-width: 100px;
    flex-grow: 1;
  }

  .track-info{
    padding-left: 4px;
    flex-grow: 2;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
  }
  .like-btn{

    cursor: pointer;

  }
  .track-icons{
    display: inline-flex;
    // padding-right: 4px;
  }
  .play{
    padding-right: 3px;
    cursor: pointer;
    font-size: 32px;
  }
  .play-btn{
    padding-top: 0px;
  }

  //////////////////////////////////////
  .fade-enter {
    opacity: 0.01;

  }

  .fade-enter.fade-enter-active {
    opacity: 1;

    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  body{
    // background-color:#383b3f;
  }
  .App {
    text-align: center;
  }

  .slide-fade .show {
    transition: all 0.4s ease-in;
    opacity: 1;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .rating-box{
    background-color: grey;
    height: 1.2em;
    width: 200px;
  }
  .star-ctr {
    display: inline-block;
    position: relative;
  }

  .star-ctr ul {
    list-style: none outside none;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0 !important;
  }

  .star-fg {
    top: 0;
    position: absolute;
  }

  .star-ctr li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 !important;
    margin: 0 !important;
  }

  .star-ctr a > span {
    font-size: 3em;
  }

  .star-bg a > span {
    color: silver
  }

  .star-fg a > span {
    color: yellow;
  }

  .active{
    font-weight: bold;
    transition: all 0.1s;
  }
  .login-icon:hover{
    // color: hsl(0, 0%, 55%);
    cursor: pointer;
  }
  .login-icon{

    font-size: 48px;


  }
  .search-icon{
    font-size: 24px;
    align-self:center;
    vertical-align:text-bottom;
    padding-right: 2px;
    display: inline;
    // display: none;
  }
  .login-label{

    display: none;
  }
  @media screen and (max-width: 767px) {
    .banner.show-banner{
      display: none;
    }
    .login-icon{
      font-size: 24px;
      align-self:center;
      vertical-align:text-bottom;
      padding-right: 2px;
    }
    .search-icon{
      font-size: 24px;
      align-self:center;
      vertical-align:text-bottom;
      padding-right: 2px;
      display: inline;

    }
    .login-label{
      display:inline-flex;


    }
  }
  a{
    color: black;
  }
  .like-btn{
    cursor: pointer;
    font-size: 32px;
  }

  #search-bar{
    // background-color: inherit;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    border-radius: 0px;
  }
  .btn{
    box-shadow: 0px 0px teal !important;

  }
  .btn-outline-secondary{
    box-shadow:0px 0px teal !important;
  }
  #search-bar:focus{
    // background-color: inherit;
    box-shadow: 0px 0px red;

    border: 1px solid green;

    border-radius: 0px;
  }
  .dropper{
    background-color: transparent;
    border: 0px solid transparent;
  }
  .dropper:hover{
    background-color: transparent;
    border: 0px solid transparent;
  }
  .dropper:active{

    background-color: transparent !important;
    border: 0px solid transparent;
    box-shadow: none !important;
  }

  .like-active{
    transform: rotate(70deg);
    font-size: 32px;
    color:red;

    transition: all 0.3s;
  }
  .material-icons{


    align-self:center;
    vertical-align:text-bottom;
    // padding-right: 2px;
    display: inline;

    transition: all 0.3s;

  }
  .search-bar-icon{
    font-size: 36px;
  }

  .badge{
    margin-left: 7px;
    margin-bottom: 7px;
    padding: 7px;
    background-color: transparent;
    color: black;
    border:1px solid lightgray;
    border-radius: 15px;
    cursor:pointer;
    // transform: translateX(0px);
    transition: all 0.3s ease;

  }
  .badge-active{
    // transform: translateX(300px);
    background-color: black;
    color: white;
    transition: all 0.3s ease;

  }

  .load{
    background-color: transparent;
    color: black;
    justify-content: center;
    border-radius: 0px;
    border: 1px solid #ccc!important;
    margin: 0 auto;
  }
  .follow-btn{
    background-color: transparent;
    color: black;
    // justify-content: center;
    display: flex;
    align-self: flex-start;
    border-radius: 1px;
    border: 1px solid #ccc!important;
    // margin: 0 auto;
  }

  .playlist-nav {
    min-width: 20%;
  }
  .playlist-area{
    flex-grow: 1;
  }
  .playlist-pop{
    max-width: 500px;
    max-height:80vh;
    overflow-y:auto;
    overflow-x: hidden;
  }

  .panel-btn{


    // justify-content: center;
    display: flex;
    align-self: flex-start;


  }

h1,h2,h3, #root{-webkit-animation:fade-in 1.0s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.0s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.modal-content{
  top: 0;
  -webkit-animation:slide-in-top .5s cubic-bezier(.645,.045,.355,1.000) both;animation:slide-in-top .5s cubic-bezier(.645,.045,.355,1.000) both}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
